<%= form_for(@book_relation) do |f| %>
  <% if @book_relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_relation.errors.count, "error") %> prohibited this book_relation from being saved:</h2>

      <ul>
      <% @book_relation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.text_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :owned %><br>
    <%= f.text_field :owned %>
  </div>
  <div class="field">
    <%= f.label :wanted %><br>
    <%= f.text_field :wanted %>
  </div>
  <div class="field">
    <%= f.label :read %><br>
    <%= f.text_field :read %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
