<h1>Listing book_relations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th>Owned</th>
      <th>Wanted</th>
      <th>Read</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_relations.each do |book_relation| %>
      <tr>
        <td><%= book_relation.user_id %></td>
        <td><%= book_relation.book_id %></td>
        <td><%= book_relation.owned %></td>
        <td><%= book_relation.wanted %></td>
        <td><%= book_relation.read %></td>
        <td><%= link_to 'Show', book_relation %></td>
        <td><%= link_to 'Edit', edit_book_relation_path(book_relation) %></td>
        <td><%= link_to 'Destroy', book_relation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book relation', new_book_relation_path %>
