<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @book_relation.user_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @book_relation.book_id %>
</p>

<p>
  <strong>Owned:</strong>
  <%= @book_relation.owned %>
</p>

<p>
  <strong>Wanted:</strong>
  <%= @book_relation.wanted %>
</p>

<p>
  <strong>Read:</strong>
  <%= @book_relation.read %>
</p>

<%= link_to 'Edit', edit_book_relation_path(@book_relation) %> |
<%= link_to 'Back', book_relations_path %>
