<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author_first_name %><br>
    <%= f.text_field :author_first_name %>
  </div>
  <div class="field">
    <%= f.label :author_last_name %><br>
    <%= f.text_field :author_last_name %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br>
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
    <%= f.label :isbn10 %><br>
    <%= f.text_field :isbn10 %>
  </div>
  <div class="field">
    <%= f.label :isbn13 %><br>
    <%= f.text_field :isbn13 %>
  </div>
  <div class="field">
    <%= f.label :book_length %><br>
    <%= f.text_field :book_length %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
